gris_oscuro = #44
azul = #22BCE0
body
  background #E8E8E8
  color gris_oscuro
  font-family Arial
  font-size 16px

header
  background gris_oscuro
  color white
  padding 0.5em

  .logo
    border-right 1px solid azul
    width 70px

    img
      width 60px

  .titular
    margin 0px 80px 0px 90px
    .titulo
      font-size 18px
      font-wight normal
      margin 0px
      padding 0px

.right
  float right
.left
  float left
