gris_oscuro = #44
azul = #22BCE0
naranja = #DD4F24
body
  background #E8E8E8
  color gris_oscuro
  font-family Arial
  font-size 16px

header
  background gris_oscuro
  color white
  padding 1em
  overflow hidden

  .logo
    border-right 1px solid azul
    float left
    width 60px

    img
      width 50px

  .titular
    margin 0px 60px 0px 70px

    .filtro
      color azul
      font-weight bold
      font-style italic
      text-decoration none

    .publicar
      background naranja
      color white
      float right
      padding 0.2em 0.5em
      margin -2px 1em 0 0
      font-style italic
      text-decoration none
      text-shadow 1px 1px 0px black

    .titulo
      font-size 18px
      font-wight normal
      margin 0px
      padding 0px

  .usuario
    position absolute
    right 0
    top 0

    .avatar
      position relative
      z-index 2
      img
        width 50px
        border-radius 50%
    .flechita
      background naranja
      color white
      display block
      position absolute
      padding 1px
      top 30px
      right 0
      text-align right
      width 50%
nav
  background azul

.right
  float right
.left
  float left
